.navbar-nav::-webkit-scrollbar {
  display: none;
}
.cus-pad {
  padding-top: 55px;
}
.child-social {
  padding: 0 10px;
}
.child-social a {
  color: #fff;
}
a.nav-link {
  display: flex;
  align-items: flex-end;
}
.main-heading {
  font-weight: 900;
  font-size: 42px;
  text-transform: uppercase;
}
#mobile-menu {
  overflow-x: scroll;
  overflow-y: hidden;
}
.navbar {
  padding: 8px 5px;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
  .navbar {
    padding: 18px 5px;
  }
}
#navPrev {
  display: none;
  position: absolute;
  left: 1%;
}
#navNext {
  position: absolute;
  right: 5px;
  background: #f3a806;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  display: none;
}
#navPrev {
  position: absolute;
  left: 5px;
  background: #f3a806;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  display: none;
  z-index: 99;
}
@media screen and (max-width: 1410px) and (min-width: 992px) {
  #navNext {
    display: block;
  }
}
.navbar-collapse::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  display: none;
}
.navbar-collapse {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.cont-text {
  display: none;
}
@media (min-width: 1800px) {
  .cont-text {
    display: block;
  }
}
.sharing {
  display: flex;
  margin-bottom: 0;
  position: absolute;
  right: 15px;
}
.main-sha {
  display: none;
}
@media (min-width: 1500px) {
  .main-sha {
    display: contents;
  }
}
.sharing .sharing-li a {
  color: #fff;
  display: flex;
  align-items: center;
}
.main-heading span {
  display: block;
  font-size: 21px;
  font-weight: 900;
}
@media screen and (min-width: 1201px) {
  .main-heading {
    font-size: 52px;
  }
}
@media screen and (max-width: 1200px) {
  .main-heading {
    font-size: 42px;
  }
  .main-heading span {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .main-heading {
    font-size: 36px;
  }
  .main-heading span {
    font-size: 22px;
  }
}
@media screen and (max-width: 370px) {
  .main-heading {
    font-size: 30px;
  }
  .main-heading span {
    font-size: 20px;
  }
}
.ban_img {
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px;
  background: #000;
  color: #fff;
}
li,
button,
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", sans-serif !important;
}
a:hover {
  text-decoration: none;
  color: gold;
}
.btn-danger {
  color: #fff;
  background-color: #db0a00;
  border-color: #dc3545;
}
.btn-light {
  background-color: #fff;
  border-color: #fff;
}
.text-dark {
  color: #000;
}
.text-danger {
  color: #db0a00 !important;
}
.text-secondary {
  color: #4b4b4b !important;
}
.bg-danger {
  background-color: #b00000 !important;
}
.bg-dark {
  background-color: #000 !important;
}
.btn-style-1 {
  background-color: #ffae00;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  .btn-style-1 {
    font-size: 14px;
  }
}
.bg-dark-red {
  background: #320000;
}
.bg-red {
  background: #7a0000;
}
a {
  color: #ffc107;
}
.active .nav-link {
  color: #f3a806 !important;
}
/* nav bar css  */
nav {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.child-social {
  font-size: 20px;
}
.navbar-dark .navbar-toggler {
  color: #fff;
  padding-left: 10px;
}
@media screen and (max-width: 992px) and (min-width: 590px) {
  .navbar-dark .navbar-toggler,
  .child-social {
    font-size: 30px;
  }
}
.od-none {
  display: none;
}
.navbar-nav {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.navbar-brand {
  margin-left: 20px;
}
.navbar-nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    background: #151515;
    height: 100vh;
  }
}
@media screen and (max-width: 960px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 425px) {
  p {
    font-size: 16px;
  }
}
.nav-item .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 16px;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .nav-item .nav-link {
    padding: 13px 15px;
    font-size: 1rem;
  }
}
.nav-item .nav-link:hover,
.nav-item .nav-link:active,
.active {
  color: #f3a806;
}
.sharing .sharing-li {
  color: #fff;
  list-style: none;
  padding: 0 0.5em;
  font-size: 20px;
}
.leyer-1 {
  position: absolute;
  z-index: 9;
  top: 4em;
  margin-left: 1em;
}
.par-social {
  display: none;
}
.brand-logo {
  width: auto;
}
@media screen and (min-width: 768px) {
  .brand-logo {
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  .brand-logo {
    height: 6vw;
    margin-left: 10px;
  }
  .navbar-brand {
    margin-right: 0;
    padding-right: 1rem;
    margin-left: 15px;
  }
  .par-social {
    display: flex;
    margin-bottom: 0;
  }
  .child-social {
    color: #fff;
    list-style: none;
    padding: 0 0.5em;
  }
  .child-social a {
    color: #fff;
  }
  .leyer-1 {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: initial !important;
  }
  .od-none {
    display: none !important;
  }
  .left-blowr {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0,
      #000 10%,
      #000 100%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .right-blowr {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0,
      #000 0,
      #000 94%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .full-blowr {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0,
      #000 10%,
      #000 94%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
@media screen and (max-width: 960px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: start;
  }
}
footer a {
  color: #fff;
}
.body {
  background: #29272b;
}





.text-primary{
  color: #807154 !important;
}
body {
  background: url('<?php echo base_url()."assets/img/bg.jpg";?>') no-repeat fixed center top #000;
  background-size: 100% auto
}
.exclusive{
  display: flex !important;
}